<input type="search" class="form-control" placeholder="Search" ng-model="query">
<br>
<div class="row">
    <div class="col-sm-6"><button class="btn btn-primary" ng-click="add()">Add New</button></div>
    <div class="col-sm-6" style="text-align: right;">
        <!--<input type="number" step="5" min="5" max="50" class="form-control" style="width: 80px; display: inline;" ng-model="rowLimit">-->
        <button class="btn btn-default" ng-click="paginationPrev()"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button class="btn btn-default" ng-click="paginationNext()"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Cell</th>
                <th>Birthday</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(k, v) in users | filter: query | limitTo: rowLimit: rowOffset" ng-click="show(v.userId)">
                <td>{{v.userId}}</td>
                <td>{{v.firstName}}</td>
                <td>{{v.lastName}}</td>
                <td>{{v.email}}</td>
                <td>{{v.phone}}</td>
                <td>{{v.cell}}</td>
                <td>{{v.birthday | date:"dd-MM-yyyy"}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>